.MuiTreeItem-label,
.sidebar-block a{
  color: rgba(1,1,1,.56);
  font-size: 1rem;
  font-weight: bold !important;
  padding: 2px;
}
.css-1txipvs-MuiTreeItem-content.Mui-selected{
  background-color: transparent !important;
}
.css-1txipvs-MuiTreeItem-content{
  padding: 0 8px !important;
  border: none !important;
}
.sidebar-base__list a{
  display: flex;
  align-items: center;
  gap: 5px;
}
.sidebar-collection__list a{
  display: flex;
  align-items: center;
  gap: 20px;
}
.sidebar-icon{
  color: brown;
  font-size: 18px;
} 
.sidebar-discount__list{
  border-bottom: 1px solid #ddd;
}