.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.05), 1px 0px 0px 0px rgba(0, 0, 0, 0.05);
}
.main-block {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}
.sidebar-block {
  flex: 0 0 auto;
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
}
.pages {
  flex: 1 1 auto;
}
.card-list {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.card-list__catalog_header {
  margin-bottom: 40px;
}

.card-list__catalog_header-title {
  font-size: 24px;
  font-weight: 400;
}

.card-list__catalog_header-text {
  line-height: 16px;
  padding-top: 0;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  white-space: normal;
}

.card-list__item {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
}

.card-list__collection {
  display: flex;
  flex-direction: column;
}

.card-list__collection_list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.card-block {
  display: grid;
  grid-template-rows: subgrid;
  padding: 10px;
  text-align: center;
  background-color: #e6eff6;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
  border-radius: 15px;
  max-width: 600px;
  width: auto;
}